{% extends 'base.html' %}
{% block titulo %}
    Lista de usuarios
{% endblock %}
{% block contenido %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>Lista de usuarios </h4>
                <a href="{% url 'usuarios:crear_usuario' %}" class="btn btn-sm btn-primary "> Crear usuario</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Firt name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Tipo usuario</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario in object_list %}
                            <tr>
                                <td>
                                    {{ usuario.id }}
                                </td>
                                <td>
                                    {{ usuario.username }}
                                </td>
                                <td>
                                    {{ usuario.first_name }}
                                </td>
                                <td>
                                    {{ usuario.last_name }}
                                </td>
                                <td>
                                    {{ usuario.is_staff |yesno:'Administrador,Cliente' }}
                                </td>
                                <td>
                                    {{ usuario.email }}
                                </td>

                                <td>
                                    <a href="{% url 'usuarios:actualizar_usuario' usuario.pk %}" class="btn btn-sm btn-info "> Editar </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}